.TESTIMONIALS {
  color: #3ee8ff;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  text-transform: uppercase;
}

.s-h-number {
  color: #00ffac;
  font-weight: 600;
  position: relative;
  top: 4px;
  font-size: 10vh;
}
.mid-para{
    width: 60vw;
    font-size: 2rem;
    /* margin-bottom: 400px; */
}
.star-img{
    margin-left: 27%;
}
.btns {
  background-color: #0570A6;
}
.btns:hover {
  background-color: #05335e;
}