.card1{
    padding: 40px;
    background-image: url('../../../Images/Rapid-05.jpg');
    background-size: cover;
    background-position: center;
}
.card2{
    background-image: url('../../../Images/Rapid-04.jpg');
    background-size: cover;
    background-position: center;
}
.card3{
    background-image: url('../../../Images/Rapid-06.jpg');
    background-size: cover;
    background-position: center;
}


@media (max-width: 908px) {
   .CardContainer{
    flex-wrap: wrap;
   }
}
